<div ng-controller="SiteImprove.DashboardController">
    <div>
        <h2>Token</h2>
        <p>{{token}}</p> <button type="button" class="btn" ng-click="requestNewToken()">Request new</button>
    </div>

    <div>
        <h2>Recrawl id's</h2>
        <p>Specify all the id's that will trigger a recrawl. Comma separate the id's</p>
        <p><input type="text" value="{{crawlingIds}}" ng-model="crawlingIds" /> <button class="btn" ng-click="saveIds()">Save</button></p>
    </div>

    <div>
        <h2>Modify the page URL by rewriting or removing a part of the Umbraco URL</h2>
        <div>
            <div style="float: left; width: 125px; padding-top: 6px;"> 
                Current URL part:
            </div>
            <div>
                <input type="text" value="{{pathMap.currentUrlPart}}" ng-model="pathMap.currentUrlPart" />
            </div>
        </div>
        <div>
            <div style="float: left; width: 125px; padding-top: 6px;">
                New URL part:
            </div>
            <div>
                <input type="text" value="{{pathMap.newUrlPart}}" ng-model="pathMap.newUrlPart" />
            </div>
        </div>
        <button class="btn" ng-click="savePathMap()">Save</button>
    </div>

    <div>
        {{output}}
    </div>
</div>