<div ng-controller="Siteimprove.PublicUrlController" class="content-container">
	<h1 class="title">Pulic URL</h1>
	<p>
		Please provide the Public URL for the current site if for any reasons
		it's not the same as the Admin Panel URL. Otherwise you can leave this
		field empty. Example: Website Admin Panel is hosted at:
		http://stg-thewebsite.com but the final Public URL will be
		http://thewebsite.com
	</p>
	<form name="public-url-form" ng-submit="savePublicUrl()">
		<input
			no-dirty-check
			name="public-url-input"
			type="text"
			value="{{publicUrl}}"
			ng-model="publicUrl"
		/>
		<button class="btn">Save</button>
	</form>
</div>
